<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximingxing.blog.server.dao.FriendLinkMapper">
  <resultMap id="BaseResultMap" type="com.ximingxing.blog.server.pojo.FriendLink">
    <id column="friend_link_id" jdbcType="INTEGER" property="friendLinkId" />
    <result column="friend_link_url" jdbcType="VARCHAR" property="friendLinkUrl" />
    <result column="friend_link_name" jdbcType="VARCHAR" property="friendLinkName" />
  </resultMap>
  <sql id="Base_Column_List">
    friend_link_id, friend_link_url, friend_link_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_friend_link
    where friend_link_id = #{friendLinkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_friend_link
    where friend_link_id = #{friendLinkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ximingxing.blog.server.pojo.FriendLink">
    insert into blog_friend_link (friend_link_id, friend_link_url, friend_link_name
      )
    values (#{friendLinkId,jdbcType=INTEGER}, #{friendLinkUrl,jdbcType=VARCHAR}, #{friendLinkName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ximingxing.blog.server.pojo.FriendLink">
    insert into blog_friend_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="friendLinkId != null">
        friend_link_id,
      </if>
      <if test="friendLinkUrl != null">
        friend_link_url,
      </if>
      <if test="friendLinkName != null">
        friend_link_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="friendLinkId != null">
        #{friendLinkId,jdbcType=INTEGER},
      </if>
      <if test="friendLinkUrl != null">
        #{friendLinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="friendLinkName != null">
        #{friendLinkName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ximingxing.blog.server.pojo.FriendLink">
    update blog_friend_link
    <set>
      <if test="friendLinkUrl != null">
        friend_link_url = #{friendLinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="friendLinkName != null">
        friend_link_name = #{friendLinkName,jdbcType=VARCHAR},
      </if>
    </set>
    where friend_link_id = #{friendLinkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ximingxing.blog.server.pojo.FriendLink">
    update blog_friend_link
    set friend_link_url = #{friendLinkUrl,jdbcType=VARCHAR},
      friend_link_name = #{friendLinkName,jdbcType=VARCHAR}
    where friend_link_id = #{friendLinkId,jdbcType=INTEGER}
  </update>
</mapper>