<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ximingxing.blog.server.dao.LabelMapper">
    <resultMap id="BaseResultMap" type="com.ximingxing.blog.server.pojo.Label">
        <id column="label_id" jdbcType="INTEGER" property="labelId"/>
        <result column="label_name" jdbcType="VARCHAR" property="labelName"/>
        <result column="label_desc" jdbcType="VARCHAR" property="labelDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
    label_id, label_name, label_desc
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blog_label
        where label_id = #{labelId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" resultType="com.ximingxing.blog.server.pojo.Label">
        select
        <include refid="Base_Column_List"/>
        from blog_label
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_label
    where label_id = #{labelId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ximingxing.blog.server.pojo.Label">
    insert into blog_label (label_id, label_name, label_desc
      )
    values (#{labelId,jdbcType=INTEGER}, #{labelName,jdbcType=VARCHAR}, #{labelDesc,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ximingxing.blog.server.pojo.Label">
        insert into blog_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="labelId != null">
                label_id,
            </if>
            <if test="labelName != null">
                label_name,
            </if>
            <if test="labelDesc != null">
                label_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="labelId != null">
                #{labelId,jdbcType=INTEGER},
            </if>
            <if test="labelName != null">
                #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelDesc != null">
                #{labelDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ximingxing.blog.server.pojo.Label">
        update blog_label
        <set>
            <if test="labelName != null">
                label_name = #{labelName,jdbcType=VARCHAR},
            </if>
            <if test="labelDesc != null">
                label_desc = #{labelDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where label_id = #{labelId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ximingxing.blog.server.pojo.Label">
    update blog_label
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_desc = #{labelDesc,jdbcType=VARCHAR}
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
</mapper>